table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 50%;
  width: 50%;
}

tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
th {
  padding: 12px 15px;
  text-align: left;
  background-color: #f8f8f8;
  color: #555;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.4);
}
