.statistics {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  margin-bottom: 30px;
}

.list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
